.banner-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .carousel-wrapper {
    width: 100%;
    max-width: 100vw;
  }
  .carousel {
    width: 100vw;
  }
  
  